<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"> <!-- {{ edit_1 }} -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title> <!-- Add a title if needed -->
</head>

<body th:replace="~{fragments/layout :: layout (~{::body},'home')}">

  <h2 th:text="#{welcome}">Welcome to petsclinics</h2>
  <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}" alt="Pets"/>
      </div>
  </div>

</body>

</html>